:root {
  @apply accent-violet-800;
}

.checkbox {
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  @apply bg-violet-800;
}
